kind: ConfigMap
apiVersion: v1
metadata:
  labels:
    app: homeroom
    role: lab
  name: homeroom-cfg-{{ __lab_name }}
data:
  workshops.json: |-
    [
      {
        "title": "{{ __lab_name }}",
        "description": "{{ __lab_description }}",
        "url": "{{ lab_url }}"
      }
    ]